.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}
.charts-container{

  margin-top: -90px;

}
.chart {
  margin-bottom: -50px;
  margin-top: 20px;
  margin-left: 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
#charts-container {
  grid-column: 1;
}
#image-container {
  grid-column: 2;
  text-align: right;
}
#image-container img {
  width: 80%; /* Ajusta el ancho de la imagen */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  background-color: transparent; /* Establece el fondo transparente */
}


/* Establece el fondo transparente */
.provinces {
  fill: #ccc;
  stroke: #fff;
}

.provinces :hover {
  fill: chocolate;
}

.province-label {
  fill: #777;
  font-size: 0.7em;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-anchor: middle;
}
